.btn-home{
    text-align: center;
}

.btn-add {
  background: #31E38E;
    border: solid 1px black;
    color: black;
    margin: 3%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.1429px;
}

.btn-add:hover{
    background: #0aa158;
    border: solid 1px black;
    color: rgb(254, 254, 254);
    margin: 3%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.1429px;
}

.btn-see {
  background-color: rgba(13, 145, 202, 1);
  padding:10% 100% 10% 100%;
}

.btn-see:hover {
  background:rgb(8, 102, 143);
  border: solid 1px black;
  color: rgb(254, 254, 254);
  padding:10% 100% 10% 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

  
  .btn-cancel , .btn-reset , .btn-save ,  .btn-edit , .btn-see , .btn-back{
    border: 1px solid #000000;
    border-radius: 10px;
    color: black;
  }
  
  .btn-reset {
    background-color: rgba(202, 138, 13, 1);
  }
  
  .btn-reset:hover {
    background: rgb(129, 88, 7);
    border: solid 1px black;
    color: rgb(254, 254, 254);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .btn-cancel {
    background-color: rgba(202, 25, 13, 0.86);
  }
  
  .btn-cancel:hover {
    background: rgba(129, 15, 7, 0.86);
    border: solid 1px black;
    color: rgb(254, 254, 254);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .btn-save {
    background-color: rgba(13, 202, 66, 1);
  }
  
  .btn-save:hover {
    background: rgb(10, 124, 42);
    border: solid 1px black;
    color: rgb(254, 254, 254);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .btn-edit {
    background-color: rgba(249, 179, 114, 1);
  }
  
  .btn-edit:hover {
    background:rgb(121, 61, 5);
    border: solid 1px black;
    color: rgb(254, 254, 254);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .btn-back {
    background-color: rgba(121, 193, 224, 1);
  }

  .btn-back:hover {
    background:rgb(25, 90, 117);
    border: solid 1px black;
    color: rgb(254, 254, 254);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }