form { 
    margin: 2%;
    padding: 3%;
    background-color: rgba(249, 217, 239, 0.667);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.d-flex {
    padding:2%;
}
/* El git esta mal*/