@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,300;1,400;1,800&family=Inter:wght@100;200&display=swap');
@import url("../css/header.css");
@import url("../css/button.css");
@import url("../css/footer.css");
body{
    background-image: url('../images/Fondo_pinia2.png');
    margin: 2%;
}
footer{
    background-color: #31E38E;
}
